In [29]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import psycopg2

cnx = sqlite3.connect(r"D:\PROJECTS\next-trms\sample.db")

engine = create_engine("sqlite:///./sample.db")

conn_pg = create_engine("postgresql://postgres:postgres@localhost:5432/testDB")
conn_pg_psql = psycopg2.connect(
    "dbname=testDB user=postgres password=postgres host=localhost")
# conn = psycopg2.connect(
#     "dbname=testDB user=postgres password=postgres host=localhost options='-c search_path=production'"
# )
# conn_pg_ofc_ppmpkm = create_engine(
#     "postgresql://gengsu07:Gengsu!sh3r3@10.20.254.226:5432/ppmpkm"
# )


# conn_trms = psycopg2.connect(
#     "dbname=ppmpkm user=gengsu07 password=Gengsu!sh3r3 host=10.20.254.226 options='-c search_path=trms'"
# )

# con_pg_dev = create_engine("postgresql://postgres:postgres@localhost:5432/testDB")
# conn_dev = psycopg2.connect(
#     "dbname=testDB user=postgres password=postgres host=localhost options='-c search_path=production'"
# )

In [30]:
chunksize = 50000
tahun = [2023, 2024]

In [31]:
def transform(df: pd.DataFrame):
    df.columns = [x.lower() for x in df.columns]
    df = df[df["tahunbayar"].isin(tahun)]
    kolom = [
        "admin",
        "kdmap",
        "kdbayar",
        "masa",
        "masa2",
        "tahun",
        "tanggalbayar",
        "bulanbayar",
        "tahunbayar",
        "datebayar",
        "nominal",
        "ket",
        "segmentasi_wp",
        "jenis_wp",
        "nama_klu",
        "kd_kategori",
        "nm_kategori",
        "nm_golpok",
        "map",
        "npwp15",
        "nama_wp",
        "nama_ar",
        "ntpn",
    ]
    df = df[kolom]
    return df

In [32]:
# df = pd.read_parquet(r"D:\PROJECTS\next-trms\trms_dataset.parquet")

In [33]:
delete_target = """DROP TABLE IF EXISTS "target" CASCADE;"""
create_target = """
CREATE TABLE IF NOT EXISTS "target" (
  "id" SERIAL  PRIMARY KEY,
  "admin" VARCHAR(255) ,
  "nama_kpp" VARCHAR(255),
  "target" BIGINT,
  "target_internal" BIGINT,
  "target_py" BIGINT
)
"""

In [34]:
delete_db = """DROP TABLE IF EXISTS "mpn" CASCADE;"""
create_db = """
CREATE TABLE IF NOT EXISTS "mpn" (
    "admin" VARCHAR(3),
    "kdmap" VARCHAR(6),
    "kdbayar" VARCHAR(6),
    "masa" VARCHAR(2),
    "masa2" VARCHAR(2),
    "tahun" VARCHAR(4),
    "tanggalbayar" INTEGER,
    "bulanbayar" INTEGER,
    "tahunbayar" INTEGER,
    "datebayar" DATE,
    "nominal" REAL,
    "ket" VARCHAR(255),
    "segmentasi_wp" VARCHAR(255),
    "jenis_wp" VARCHAR(255),
    "nama_klu" TEXT,
    "kd_kategori" VARCHAR(5),
    "nm_kategori" TEXT,
    "nm_golpok" TEXT,
    "map" VARCHAR(255),
    "npwp15" VARCHAR(255),
    "nama_wp" TEXT,
    "nama_ar" TEXT,
    "ntpn" VARCHAR(255),
    "id" SERIAL PRIMARY KEY
);

"""

In [35]:
# with conn_trms.cursor() as cur:
#     cur.execute(delete_db)
#     print("delete_db")
#     cur.execute(create_db)
#     print("create_db")

#     cur.execute(delete_target)
#     print("delete_target")
#     cur.execute(create_target)
#     print("create_target")
#     conn_trms.commit()

In [36]:
with conn_pg_psql.cursor() as cur:
    cur.execute(delete_db)
    print("delete_db")
    cur.execute(create_db)
    print("create_db")

    cur.execute(delete_target)
    print("delete_target")
    cur.execute(create_target)
    print("create_target")
    conn_pg_psql.commit()

delete_db
create_db
delete_target
create_target

In [37]:
data = pd.read_parquet(
    r"C:\Users\sugengw07\OneDrive - Kemenkeu\KANWILJAKTIM\DATA\ppmpkm_02feb2024.parquet"
)
try:
    data = transform(data)
    data.to_sql(
        "mpn",
        con=conn_pg,
        if_exists="replace",
        index=False,
    )
except Exception as e:
    if e:
        conn_pg.rollback()
        print(f"Error: {e}")
print("Populate data MPN:DONE")

Populate data MPN:DONE

In [38]:
# with conn_pg_ofc_ppmpkm.execution_options(stream_results=True) as conn_ofc_persist:
# conn_stream = conn_pg_ofc_ppmpkm.execution_options(stream_results=True)
# chunksize = 100000
# print("LOAD DATA")

# df.to_csv(r'D:\HASILKUERI\ppmpkm.csv', index=False)


# try:
#     for chunk_data in pd.read_sql(
#         "select * from public.ppmpkm", con=conn_stream, chunksize=chunksize
#     ):
#         print("LOAD DATA 2024")
#         chunk_data = transform(chunk_data)
#         chunk_data.to_sql(
#             "mpn",
#             con=conn_pg_ofc_ppmpkm,
#             schema="trms",
#             if_exists="append",
#             index=False,
#         )
# except Exception as e:
#     if e:
#         conn_trms.rollback()
#         print(f"Error: {e}")


# print("Populate data MPN:DONE")

In [40]:
df_target = pd.read_sql("select * from target", con=engine)
df_target.to_sql(
    "target",
    con=conn_pg,
    index=False,
    if_exists="replace",
)
print("Populate data target:DONE")
print("Populate data DONE")

Populate data target:DONE
Populate data DONE

In [ ]:
# df_target = pd.read_sql("select * from target", con=engine)
# df_target.to_sql(
#     "target",
#     con=conn_pg_ofc_ppmpkm,
#     schema="trms",
#     index=False,
#     if_exists="append",
# )
# print("Populate data target:DONE")
# print("Populate data DONE")

Populate data target:DONE
Populate data DONE

In [ ]:
# target = pd.read_excel(
#     r"C:\Users\sugengw07\OneDrive - Kemenkeu\KANWILJAKTIM\DATA\target2024.xlsx",
#     dtype={"kd_kpp": "str"},
# )